<div class="navbar">
	<div class="navbar-inner">
		<a href="#" class="brand">Our History<img id='masthead-aus-image' src="images/aus.png" alt="Australia"></a>
	</div>
</div>

<div class="container-fluid">
	<div class="row-fluid">
		<div class="span2 well">
			<div ng-repeat='item in items' ng-animate='{ enter: "appear" }' ng-click='$parent.$parent.selectedIndex = $index'>
				<div ng-class='{ selected: selectedIndex == $index }'>
					<div ng-switch='item.type'>
						<div ng-switch-when='image'>
							<ng-include src="'_image_cell.html'" ng-animate='"appear"'></ng-include>
						</div>
						<div ng-switch-when='text'>
							<ng-include src="'_text_cell.html'" ng-animate='"appear"'></ng-include>
						</div>
						<div ng-switch-when='graph'>
							<ng-include src="'_graph_cell.html'" ng-animate='"appear"'></ng-include>
						</div>
						<div ng-switch-when='media'>
							<ng-include src="'_media_cell.html'" ng-animate='"appear"'></ng-include>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="span10 well">
			<div ng-switch='currentItem.type'>
				<div ng-switch-when='image'>
					<ng-include src="'_image_body.html'" ng-animate='{ enter: "appear", leave: "hide" }'></ng-include>
				</div>
				<div ng-switch-when='text'>
					<ng-include src="'_text_body.html'" ng-animate='{ enter: "appear", leave: "hide" }'></ng-include>
				</div>
				<div ng-switch-when='graph'>
					<ng-include src="'_graph_body.html'" ng-animate='{ enter: "appear", leave: "hide" }'></ng-include>
				</div>
				<div ng-switch-when='media'>
					<ng-include src="'_media_body.html'" ng-animate='{ enter: "appear", leave: "hide" }'></ng-include>
				</div>
			</div>
		</div>
	</div>	
</div>

