<div class="navbar">
	<div class="navbar-inner">
		<div class="container">
			<div class="pull-right navbar-search">
				<div class="input-prepend">
				  <span class="add-on">Find</span>
				  <input type="text" ng-model='filterQuery' placeholder="type something here to find it"/>
				</div>
			</div>
			<div class="pull-right other-icons">
				<button class="btn btn-large btn-success" type='button'><i class="icon-book"></i></button>
			</div>
			<a href="#" class="brand">Our History<img id='masthead-aus-image' src="images/aus.png" alt="Australia"></a>			
		</div>

	</div>
</div>

<div class="container-fluid">
	<div class="row-fluid">
		<div class="span3 well">
			<div ng-repeat='item in items | filter:filterQuery' ng-animate='{ enter: "appear" }' ng-click='$parent.$parent.selectedIndex = $index'>
				<div ng-class='{ selected: selectedIndex == $index }'>
					<span class='pull-right added-icon added' ng-show='addedItems.indexOf(item) != -1' ng-animate='{ show: "zoom", hide: "unzoom" }'>
						<i class="icon-plus"></i>
					</span>
					<span ng-switch='item.type'>
						<div ng-switch-when='image'>
							<ng-include src="'_image_cell.html'" ng-animate='"appear"'></ng-include>
						</div>
						<div ng-switch-when='text'>
							<ng-include src="'_text_cell.html'" ng-animate='"appear"'></ng-include>
						</div>
						<div ng-switch-when='graph'>
							<ng-include src="'_graph_cell.html'" ng-animate='"appear"'></ng-include>
						</div>
						<div ng-switch-when='media'>
							<ng-include src="'_media_cell.html'" ng-animate='"appear"'></ng-include>
						</div>
					</span>
				</div>
			</div>
		</div>
		<div class="span9 well">
			<div class="pull-right">
				<div ng-switch='addedItems.indexOf(currentItem) == -1'>
					<div ng-switch-when='true'>
						<a class="btn btn-primary" ng-click='addedItems.push(currentItem)'><i class="icon-plus"></i> Add to timeline</a>
					</div>
					<div ng-switch-default>
						<a class="btn btn-warning" ng-click='addedItems.splice(addedItems.indexOf(currentItem), 1)'><i class="icon-minus"></i> Remove from timeline</a>
					</div>
				</div>
			</div>
			<div ng-switch='currentItem.type'>
				<div ng-switch-when='image'>
					<ng-include src="'_image_body.html'" ng-animate='{ enter: "appear", leave: "hide" }'></ng-include>
				</div>
				<div ng-switch-when='text'>
					<ng-include src="'_text_body.html'" ng-animate='{ enter: "appear", leave: "hide" }'></ng-include>
				</div>
				<div ng-switch-when='graph'>
					<ng-include src="'_graph_body.html'" ng-animate='{ enter: "appear", leave: "hide" }'></ng-include>
				</div>
				<div ng-switch-when='media'>
					<ng-include src="'_media_body.html'" ng-animate='{ enter: "appear", leave: "hide" }'></ng-include>
				</div>
			</div>
		</div>
	</div>	
</div>

