<div class="navbar">
	<div class="navbar-inner">
		<div class="container">
			<div class="pull-right other-icons">
				<div modal='timelineShown' close='close()'>
					<div class="modal-body">
						<div id="timeline-embed"></div>
					</div>
					<div class="modal-footer">
			            <button class="btn btn-warning cancel" ng-click="close()">Cancel</button>
			        </div>
				</div>
				<div class="pull-right" id='navbar-actions'>
					<a class='btn create-topic-button' ng-click='createTopic()'><i class="icon-plus"></i> Create my own topic</a>
				</div>
			</div>
			<a href="#" class="brand">Our History<img id='masthead-aus-image' src="images/aus.png" alt="Australia"></a>			
		</div>

	</div>
</div>

<!-- {{$parent.$parent.currentUnit}}<button class="btn" ng-click='$parent.$parent.currentUnit = 0'>Button</button> -->
<div class='whole-width' gh-needs-permission>
	<div class='row-fluid' style='padding-bottom: 60px'>
		<div>
			<button class='btn btn-large span4 unit-button' ng-repeat='unit in [modules[0], modules[2], modules[4]]' ng-click='appState.isLoading=true; currentUnit.unit = unit'
			 style='background-color: {{unit.colour}}'>
			 <div class='stage-label'>Stage {{unit.stage[0]}}</div>
			 <img ng-src='images/{{unit.id}}.jpg' class='unit-button-image' />
			 <div>{{unit.name}}</div>
			</button>
		</div>
	</div>
	<div class='row-fluid'>
		<div>
			<button class='btn btn-large span4 unit-button' ng-repeat='unit in [modules[1], modules[3], modules[5]]' ng-click='appState.isLoading=true; currentUnit.unit = unit'
			style='background-color: {{unit.colour}}'>
			<div class='stage-label'>Stage {{unit.stage[0]}}</div>
			<img ng-src='images/{{unit.id}}.jpg' class='unit-button-image' />
			<div>{{unit.name}}</div>
			</button>
		</div>
	</div>
	<!-- <div class="row-fluid">
		<button class="btn btn-large span12">
			<div class='stage-label'>Create</div>
			<div>Create topic</div>
		</button>
	</div> -->
</div>