/* line 3, ../sass/app.scss */
.selected {
  background-color: #237179;
}

/* line 7, ../sass/app.scss */
.selected td {
  background-color: #237179;
}

/* line 11, ../sass/app.scss */
table td:nth-child(1) {
  padding-right: 6px;
  width: 42px;
}

/* line 16, ../sass/app.scss */
table td {
  background-color: #3cb9c6;
  font-size: 14pt;
  line-height: 1.3;
}

/* line 23, ../sass/app.scss */
table td {
  padding-bottom: 8px;
  padding: 8px;
}

/* line 28, ../sass/app.scss */
#masthead-aus-image {
  width: 28px;
  height: 28px;
  padding-left: 8px;
}
